@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800&display=swap');
 
.home{
   /* height: 100vh; */
    min-height: 100vh;
    padding-bottom: 15rem;
    display: flex;
    flex-direction: column;
    background: rgb(221, 221, 221);
    font-family: "Lexend";
    font-style: normal;
}