@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,200&family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mynerve&family=Nunito:ital,wght@1,200&family=Poppins:wght@300&display=swap');
.sidebar {
  min-width: fit-content;
  background-color: rgb(255, 255, 255);
  scrollbar-color: rgb(0, 0, 0);
  height: 89vh;
  overflow-y: hidden;
}
.sidebar > .search {
  margin: 2rem auto;
  border: 5px solid rgba(164, 163, 163, 0.2);
  border-bottom: none;
  border-right: none;
  z-index: 15;
  width: 70%;
  padding: 10px 20px;
  display: flex;
  border-radius: 50px;
  box-shadow: 10px 7px 10px rgba(164, 163, 163, 0.5);
}

.sidebar > .search > img {
  height: 20px;
  margin: auto;
}
.sidebar > .search > input {
  border: none;
  width: 80%;
  border-radius: 50px;
  font-size: 20px;
  font-family: fantasy;
  font-family: 'Mynerve', cursive;
  font-weight: 500;
  letter-spacing: 1px;
}
.sidebar > .search > input:focus {
  outline: none;
}

.sidebar > .userList {
  background-color: rgb(255, 255, 255);
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow-y: auto;
  height: 65vh;
  padding: 2vh 0 5vh 0;
}

.sidebar > .userList > .user {
  display: flex;
    padding: 0px 0px;
    height: -moz-fit-content;
    height: fit-content;
    border-radius: 50px;
    justify-content: space-between;
    background-color: transparent;
    z-index: 1;
    border: none;
    color: #000;
    margin-left: auto;
    min-width: min-content;

}

.userChild{
  
}
/* .sidebar > .userList > .user:focus,.sidebar > .userList > .user:active {
  border: 5px solid rgba(164, 163, 163, 0.2);
} */
.sidebar > .userList > .user>* {
  pointer-events: none;
}
.sidebar > .userList > .user > img {
  width: 50px;
  height: 50px;
  border-radius: 50px;
}
.sidebar > .userList > .user > div {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 8rem;
  overflow: hidden;
  color: #000;
  min-width: fit-content;
}
.sidebar > .userList > .user > div > h6,
.sidebar > .userList > .user > div > p {
  margin: 0px;
  width: max-content;
  font-family: 'Mynerve';
}
.sidebar > .userList > .user > div > h6{
  font-family: 'Poppins', sans-serif;
  font-size: 25px;
  font-weight: 600;
}
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #666667;
  border-radius: 10px;
}

/* Handle on hover */
 
