.blogPage {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
  /* background-color: #ffffff; */
  animation: fadeIn 0.5s ease-in-out;
  background-color: #000000;
  background: url("./img/blogPattern.png");
  background-size: 500px;
}
.blogPage > img {
  display: none;
}
.blogPage > .CoverPage {
  /* position: fixed; */
  display: flex;
  flex-wrap: wrap;
  /* min-width: 100%; */
  width: 100%;
  min-height: fit-content;
  /* background-color: rgb(127, 82, 199); */
  background: repeating-linear-gradient(
    90deg,
    #000000,
    #000000 30px,
    rgb(255, 255, 255,0.2) 10px,
    rgba(126, 126, 126, 0.2) 80px
  );
  justify-content: space-between;
  text-align: center;
  align-items: center;
  min-height: 95vh;
  backdrop-filter: blur(1.5px);
}
.blogPage > .CoverPage > h2 {
  /* color: white; */
  letter-spacing: 1.5px;
  word-spacing: 5px;
  font-size: 600%;
  display: flex;
  flex-wrap: wrap;
  max-width: 600px;
  height: fit-content;
  /* margin: auto ; */
  font-family: "Lexend";
  font-style: normal;
  margin-left: auto;

  /* filter: contrast(5px); */

  /* background: #1572CF;
  background: linear-gradient(to right ,#008ad2 ,#f4a819 , #d70868 );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
  color: white;
  background: url("https://firebasestorage.googleapis.com/v0/b/otp-sender-382116.appspot.com/o/blogs%2Fimage_20230810_042151_7b779_lovepik-text-background-graphics-png-image_400459286_wh1200%20(1).png?alt=media&token=53a1cad6-f0b1-458b-8f52-284d8ed7c353"); 
  background-size: 600px;
}
.blogPage > .CoverPage > img {
  width: 55%;
  min-width: 500px;
  min-height: 350px;
  margin-bottom: -2px;
  margin-left: auto;
  max-width: 45vw;
  max-height:90vh;
}
@media (max-width: 1107px) {
  .blogPage > .CoverPage > h2 {
    margin: 0 auto;
    font-size: 50px;
  }
  .blogPage > .CoverPage > img{
    margin: auto;
  }
}
@media (max-width: 550px) {
  .blogPage > .CoverPage > h2 {
    /* margin: 0 auto; */
    font-size: 40px;
  }
  .blogPage > .CoverPage > img{
    min-width: 90%;
    min-height: 200px;
  }
}

.blogPage > .BlogsTypes {
  background-color: rgb(234, 235, 237);
  display: flex;
  flex-wrap: wrap;
  gap: 10px 100px;
  justify-content: none;
  /* margin-top: 30%; */
  z-index: 1;
}
.blogPage > .BlogsTypes > button {
  background-color: transparent;
  border: none;
  color: rgb(109, 109, 110);
  width: fit-content;
  margin: 0;
  padding: 20px;
}
.blogPage > .BlogsTypes > button:hover {
  background-color: white;
  opacity: 1;
  color: rgb(63, 63, 63);
  border-radius: 0;
}

/* Post blog page //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.postBlogWindowBtn {
  width: 200px;
  margin: 20px;
  margin-left: auto !important;
  /* border: 3px solid rgb(127, 82, 199); */
  border: none;
  padding: 20px;
  border-radius: 20px;
  color: white;
  font-size: 19px;
  font-weight: 700;
  
  background-color: #000000;
 border: 1px solid rgba(126, 126, 126, 0.2);
}
.postBlogWindowBtn:hover {
  background-color: rgba(0, 0, 0, 0.5);
  text-shadow:  5px 5px 5px rgb(0, 0, 0);
}
.postBlogPage {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
}

.postBlogPage > .CreatePostWIndow {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin: auto;
  width: 60%;
  margin-top: 20px;
  gap: 50px;
  padding: 20px;
  overflow-y: auto;
  max-height: 80vh;
  max-width: 100vw;
  border-radius: 20px;
}
.postBlogPage > .CreatePostWIndow > div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.postBlogPage > .CreatePostWIndow > div>label{
  font-size: 20px;
  font-weight: 700;
}
.postBlogPage > .CreatePostWIndow > div > input,
.postBlogPage > .CreatePostWIndow > div > textarea {
  min-height: 30px;
  font-size: 18px;
  border: none;
  background-color:  rgb(232, 228, 238);
  padding: 10px;
  border-radius: 10px;
}
.postBlogPage > .CreatePostWIndow > div > input::placeholder,
.postBlogPage > .CreatePostWIndow > div > textarea::placeholder{
  color: rgb(73, 73, 73);
  font-size: 20px;
 
}



.postBlogPage > .CreatePostWIndow > div > input:focus,
.postBlogPage > .CreatePostWIndow > div > textarea:focus {
  outline: 2px solid slateblue;
  border: none;
}
.ImageUpload>input{
  width: 400px;
  height: 200px;
  margin: 0 auto;
  z-index: 1;
  opacity: 0;
  border: 10px solid black;
  background-color: aqua;
}
.ImageUpload>div{
  width: 420px;
  
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background-color:  rgb(232, 228, 238);
  border-radius: 10px;
  /* border: 1px solid  rgb(127, 82, 199); */
  margin-top: -230px;
}
.ImageUpload>div>button{
  border: 2px solid rgb(171, 171, 171,0.3);
  padding: 10px;
  border-radius: 20px;
  color: rgb(127, 82, 199);
  width: 50%;
  margin: 10px auto;
  font-size: 20px;
}
.ImageUpload>div>img{
  width: 120px;
  margin: 10px auto;
  border-radius: 100px;
   
}

.PostBtn{
  margin: 0 auto;
  width: 400px;
}
.UploadedBox>embed{
 max-width: 50px;
}
.UploadedBox{
  display: flex;
  margin: 15px  auto;
  gap: 20px;
  padding: 10px;
  border-radius: 10px;
  background-color: #ffffff;
  width: 40%;
  border: 2px solid rgb(150, 150, 150);
  max-width: 350px;
}
.dleteImage{
  font-size: 50px;
  height: 30px;
  margin:  auto ;
}


/*  ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* specifiv Blog  ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.blogPage  h5{
  font-size:50px;
  font-weight: 1800;
  color: #ffffff;
  text-align: center;
  text-shadow: 3px 3px 5px rgb(147, 111, 255);
  backdrop-filter: blur(15px);
  width: fit-content;
  margin: 0 auto;
  padding: 10px;
  margin-bottom: 50px;
  border-radius: 50px;
}
/* Bloga page */
.blogPage > .Blogs {
  margin: 3rem ;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  max-width: 95%;
  /* min-width: 100%; */
  justify-content: left;
  z-index: 1;
  /* background-color: rgb(0, 0, 0); */
  color: #ffffff;
}
.blogPage > .Blogs > .blog {
  height: fit-content;
  display: flex;
  flex-direction: column;
  background-color:rgba(0, 0, 0,0.97);
  border: 1px solid rgba(126, 126, 126, 0.8);;
  gap: 20px;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  max-width: 30rem;
  transition: transform 0.3s ease;
  
}
.blogPage > .Blogs > .blog:hover {
  transform: scale(1.07); /* Increase the scale value to increase the zoom effect */
}
.blogPage > .Blogs > .blog > img {
  max-width: 25rem;
  max-height: 20rem;
  min-width: 10rem;
  min-height: 10rem;
  margin: 0 auto;
  border-radius: 7px;
}
.blogPage > .Blogs > .blog > .TittleSubtittle {
  /* margin: 0 auto; */
  margin-left: 20px;
}
.blogPage > .Blogs > .blog > .TittleSubtittle > h6 {
  margin: 0;
  font-size: 20px;
  font-weight: 800;
}
.blogPage > .Blogs > .blog > .TittleSubtittle > p {
  max-width: fit-content;

  margin: 0;
}
.blogPage > .Blogs > .blog > .aboutUser {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.blogPage > .Blogs > .blog > .aboutUser > img {
  height: 40px;
  margin: auto 10px;
}
.PostOption {
  background-color: transparent;
  color: black;
  text-align: right;
  max-width: min-content;
  margin: 0;
  margin-left: auto;
}
.optionsicon{
  width: 30px;
  height: 30px;
  margin-left: auto;
 
}
.options{
  width: 30px;
  height: 30px;
  margin-left: auto;
  margin-top: -53px;
  opacity: 0;
  border: 1px solid;
  overflow: hidden;
  color: #000000;
}
.options:hover{
  opacity: 1;
  width: fit-content;
  height: fit-content;
  /* position:absolute;
  margin-left:400px; 
  margin-top: 0px; */
 
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  border: 1px solid rgb(214, 214, 214,0.9);
}
.options>p{
  /* display: none; */
  padding:5px 10px;
  margin: 5px;
  border-radius: 5px;
}
.options>p:hover{
  background-color: rgb(0, 0, 0);
  color: #ffffff;
}


/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.blogPage > .blogWindow {
  width: 100%;
  height: 100vh;
  min-height: fit-content;
  position: fixed;
  top: 0px;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.9);
}
.blogPage > .blogWindow > div {
  background-color: white;
  margin: 50px 30px;
  border-radius: 20px;
  display: flex;

  justify-content: space-between;
  min-height: fit-content;
  max-width: 80vw;
  max-height: 80vh;
}
.blogPage > .blogWindow > div > .image_Like_comment {
  /* border-right: 1px solid rgb(218, 218, 218);  */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 0;
  margin: 0 auto;
}
.blogPage > .blogWindow > div > .image_Like_comment > img {
  /* height: 80%; */
  border-radius: 20px;
  margin: 20px;
  border: 1px solid rgb(236, 232, 232);
  max-width: 30rem;
  max-height: 80%;
}

.blogPage > .blogWindow > div > .image_Like_comment > .reactionField {
  display: flex;
  font-size: 30px;
  justify-content: space-around;
  color: rgb(127, 82, 199);
  border: 1px solid slateblue;
  padding: 20px;
  border-radius: 20px;
  width: 80%;
  margin-left: 10px;
}
.close {
  font-size: 50px;
  color: red;
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}
.blogPage
  > .blogWindow
  > div
  > .image_Like_comment
  > .reactionField
  > .Comments_section {
  position: absolute;

  bottom: 15rem;
  background-color: white;
  border: 0.5px solid black;
  border-radius: 5px;
  padding: 10px;
  color: black;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: rgb(231, 231, 231);
}

.blogPage
  > .blogWindow
  > div
  > .image_Like_comment
  > .reactionField
  > .Comments_section
  > .comments {
  max-height: 25rem;
  min-height: fit-content;
  min-width: 20rem;
  width: fit-content;
  overflow-y: auto;
}
.blogPage
  > .blogWindow
  > div
  > .image_Like_comment
  > .reactionField
  > .Comments_section
  > .comments
  > div {
  border: 1px solid grey;
  border-radius: 5px;
  padding: 0 20px;
  margin-top: 2rem;
  background-color: white;
}
.blogPage
  > .blogWindow
  > div
  > .image_Like_comment
  > .reactionField
  > .Comments_section
  > .comments
  > div
  > p,
.blogPage
  > .blogWindow
  > div
  > .image_Like_comment
  > .reactionField
  > .Comments_section
  > .comments
  > div
  > span {
  margin-left: auto;
  margin-right: auto;
}
.blogPage
  > .blogWindow
  > div
  > .image_Like_comment
  > .reactionField
  > .Comments_section
  > .comments
  > div
  > span {
  text-decoration: underline;
  font-size: 10px;
}

.blogPage
  > .blogWindow
  > div
  > .image_Like_comment
  > .reactionField
  > .Comments_section
  > .close {
  font-size: 25px;
  color: red;
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}

.blogPage
  > .blogWindow
  > div
  > .image_Like_comment
  > .reactionField
  > .Comments_section
  > .InputComment {
  display: flex;
}
.blogPage
  > .blogWindow
  > div
  > .image_Like_comment
  > .reactionField
  > .Comments_section
  > .InputComment
  > input {
  width: 80%;
  border-radius: 5px;
  outline: none;
  border: 1px solid slateblue;
  height: 30px;
}
.blogPage
  > .blogWindow
  > div
  > .image_Like_comment
  > .reactionField
  > .Comments_section
  > .InputComment
  > .send {
  width: 15%;
  height: 20px;
  margin: auto 0;
}

.aaboutPost_aboutUser {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.aaboutPost_aboutUser > .aboutPost {
  width: 95%;
  height: 80%;
  margin-left: 20px;
}
.aaboutPost_aboutUser > .aboutPost > h6 {
  font-size: 30px;
  margin: 10px auto;
}
.aaboutPost_aboutUser > .aboutPost > p {
  font-size: 18px;
  max-height: 70%;
  margin: 10px auto;
  overflow-y: auto;
}
.aaboutPost_aboutUser > .aboutUser {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  justify-content: right;
  margin-right: 50px;
}
.aaboutPost_aboutUser > .aboutUser > img {
  height: 50px;
  margin: auto 0;
}
.aaboutPost_aboutUser > .aboutUser > p {
  font-size: 15px;
  font-weight: 500;
}

/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

@media only screen and (max-width: 1020px) {
  .blogPage > .blogWindow > div {
    flex-wrap: wrap;
    overflow-y: auto;
    overflow-x: hidden;
  }
  .blogPage > .blogWindow > div > .image_Like_comment > img {
    max-width: 100%;
    min-height: 15rem;
  }

  .aaboutPost_aboutUser > .aboutPost > p {
    font-size: 18px;
    max-height: max-content;
    margin: 10px auto;
  }
}
