@import url('https://fonts.googleapis.com/css2?family=Lumanosimo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
.ChatPage{
    /* background-image: url("./background.png");
    background-position: center; */
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    /* flex-direction: column; */
    font-family: 'Lumanosimo', cursive;
    line-height: 1.5;
    scroll-behavior: smooth;
    background-color: #212529;
}
.ChatPage>nav{
    background-color: #1a1d21;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    flex: 1 0;
    max-width: 40px;
    
}
.ChatPage>nav>button{
    background-color: rgb(36, 40, 44);
    border: none;
    display: flex;
    height: 40px;
    gap: 5px;
 
    align-items: center;
    font-weight: 600;
    cursor: pointer;
    border-radius: 20px ;
    padding: 20px 15px;
    color: rgb(88, 91, 97);
}
.ChatPage>nav>button:hover{
    background-color:#6153cc;
    color: white;
}
.ChatPage>nav>.chatBarActive{
    background-color:#6153cc ;
    color: white ;
}

@media screen and (max-width: 660px) {
    .chatBarActiveresp>nav>.chatBarActive{
        background-color: rgb(36, 40, 44) !important;
        color: rgb(88, 91, 97) !important;
    }
    .ChatPage>nav>.chatBarActive{
        background-color:#6153cc ;
        color: white !important;
    }
    .chatBarActiveresp>nav>.chatBarActive{
        background-color:#6153cc ;
        color: white ;
    }
    .chatBarActiveresp>.chatPagePannel .chatBar{
        display: none !important;
    }
    .ChatPage>.chatPagePannel .chatBar {
        display: flex;
    }
}
.ChatPage>nav>div{
    display: flex;
    gap: 40px;
}

.ChatPage>.chatPagePannel{
    display: flex;
    flex-direction: row;
    flex: 1;
    overflow:hidden
}
