.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(26, 29, 33);
  box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.3);
  padding: 0px ;
  /* padding: 1rem; */
  z-index: 2;
  /* max-height: 100px; */
  text-align: center;

}
.navbar>.logo{
  margin: 3px 10px ;
}

.navbar>.logo img {
    height: 50px;
     
}
.navbar>h1{
  margin: auto;
  position: relative;
  left: -50px;
  cursor: pointer;
}
.navbar .profile{
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar .profile  img {
  height: 50px; 
  margin-right: 10px;
  border-radius: 100px;
  position: relative;

}

.navbar .menu-toggle {
  display: none;
} 

.navbar .menu-items {
  display: flex;
  gap: 2rem;
}

.navbar .menu-items a {
  text-decoration: none;
  color: #1D005B;
  font-weight: bold;
  font-size: 1.2rem;
  margin: auto;
  text-align: center;
}

.navbar .menu-items a:hover {
  color: #A67DFD;
}
.navbar .mobileMenuBtn {
  display: none;
  cursor: pointer;
}
.navbar .mobileMenuIcon {
  position: relative;
  top: 20px;
  font-size: 2.5rem;
  translate: -20% -50%;
}
.navbar .closeMenuOutline {
  display: none;
}
.navbar .sidebar{
    display: none;
}
.navbar h1{
  position: relative;
  left: 55px;
}
.navbar .ProfileImage .UserOptions{
  display: none;
}
.navbar .ProfileImage:hover .UserOptions{
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 150px;
  right: 2px;
  background-color: #0e1422;
  border: 0.5px solid rgb(152, 152, 152,0.2);
}
.navbar .ProfileImage:hover .UserOptions p{
  padding: 20px 0;
  margin: 0;
  cursor: pointer;
}
.navbar .ProfileImage:hover .UserOptions p:hover{
  background-color: #354771;
}
@media screen and (max-width: 983px) {
  .navbar h1{
    position: relative;
    left: 5px;
  }
}
@media screen and (max-width: 584px) {
  .navbar h1{
    position: relative;
    left: -20px;
    font-size: 20px;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    padding: 5px;
  }
  .navbar .mobileMenuBtn {
    display: inline-block;
    z-index: 9;
  }

  .navbar .menu-items {
    width: 40vw;
    height: 70vh;
    z-index: 1;
    overflow-y: auto;
    position: absolute;
    top: 8rem;
    right: -50px;
    padding-right: 60px;
    padding-bottom: 150px;
    flex-direction: column;
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s linear;
    justify-content: spa;
    gap: 25px;
    display: none;
  }
  .navbar .profile {
    position: absolute;
    right: 15vw;
    top: 3rem;
    display: none;
    /* display: flex;
    flex-direction: column; */
  }
  .showMobileNav .profile{
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    align-items: center;
    width: 40%;
  }
  .showMobileNav .profile i{
    margin-right: 0px !important;
  }
  .showMobileNav .mobileMenuIcon {
    display: none;
    
  }

  .showMobileNav .closeMenuOutline {
    display: inline-block;
    color: white;
    border: 2px solid white;
     
    top: 30px;
    border-radius: 20px;
  }
  .showMobileNav .sidebar {
    width: 40vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    width: 40vw;
    position: fixed;
    right: 0;
    top: 0;
 
    display: block;
  }

  .showMobileNav .menu-items {
    visibility: visible;
    display: flex;
    opacity: 1;
    z-index: 999;
    transform-origin: right;
    transition: all 0.2s right;
    flex-direction: column;
  }
  .showMobileNav .menu-items a {
    margin: 0 auto;
    width: 80%;
    border-radius: 40%;
    background-color: transparent;
    border: 1px solid;
    color: #fff;
    padding: 5px;
  }
  .showMobileNav .menu-items a:hover {
    background-color: white;
    color: #8859e6;
    border: none;
  }
}
@media screen and (max-width: 600px) {
  .navbar .menu-items {
    width: 60vw;
  }
  .showMobileNav .sidebar {
    width: 60vw;
  }
}
@media screen and (max-height: 450px) {
    .navbar .menu-items {
       height: 50vh;
    }
    
  }