.ChatPage>.chatPagePannel>.chatBar{
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    background-color: transparent;
    width: 25%;
    min-width: 275px;
    overflow-y: scroll;
    padding: 10px;
    color: white;
}
.ChatPage>.chatPagePannel>.chatBar >nav{
    display: flex;
    justify-content: space-between;
    gap: 50px;
    align-items: center;
    
}
.ChatPage>.chatPagePannel>.chatBar >nav>button{
    display: flex;
    gap: 15px;
    align-items: center;
    height: 40px;
    border: none;
    background-color:rgb(5, 182, 136);
    border-radius: 7px;
    font-size: 15px;
    color: white;
    

}
.ChatPage>.chatPagePannel>.chatBar >nav>button:hover{
    background-color:rgb(8, 216, 161);
}
.ChatPage>.chatPagePannel>.chatBar >nav>button>icon{
    /* background-color: white; */
    display: flex;
    gap: 3px;
}
.ChatPage>.chatPagePannel>.chatBar >.chatsWrapper{
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    gap: 10px;
    padding-right: 0;
    padding-bottom: 20px;
    /* max-height: 500px; */
    /* max-height: 50%; */
}
.ChatPage>.chatPagePannel>.chatBar >.chatsWrapper>span{
    overflow-y: hidden;
  }

.ChatPage>.chatPagePannel>.chatBar >.chatsWrapper >span>.react-loading-skeleton{
    height: 35px;
    margin-top: 10px;
}
.ChatPage>.chatPagePannel>.chatBar >.chatsWrapper>button{
    min-height: 60px;
    border: none;
    border-radius: 3px;
    background-color: transparent;
    display: flex;
    align-items: center;
    text-align: center;
    gap: 50px;
    color: rgb(255, 255, 255);
    font-family: 'Raleway', sans-serif;
}
.ChatPage>.chatPagePannel>.chatBar >.chatsWrapper>button:hover{
    background-color:rgb(56, 178, 172) ;
    color: white;
    background-color:rgb(61, 62, 62,0.2);
  border: 0.5px solid rgb(103, 116, 128,0.2);
}
.ChatPage>.chatPagePannel>.chatBar >.chatsWrapper>button>i{
    font-size: 30px;
}
.ChatPage>.chatPagePannel>.chatBar >.chatsWrapper>button>img{
width: 37px;
  height: 37px;
  border-radius: 37px;
}
.ChatPage>.chatPagePannel>.chatBar >.chatsWrapper>button>div{
    display: flex;
    flex-direction: column;
    gap: 4px;
    font-size: 12px;
  
}
.ChatPage>.chatPagePannel>.chatBar >.chatsWrapper>button>div>p{
    margin: 0;
    font-size: 19px;
    text-align: left;
}
.ChatPage>.chatPagePannel>.chatBar >.chatsWrapper>button>div>span{
    opacity: 0.6;
    text-align: left;
}
.ChatPage>.chatPagePannel>.chatBar >.chatsWrapper>button>p{
    margin-left: auto;
    background-color: rgb(0, 168, 132);
    padding: 3px 8px;
    border-radius: 10px;
    color: black;
}

.ChatPage>.chatPagePannel>.chatBar>.createGpWindow{
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.6);
    top: 0;
    left: 0;
    display: flex;
    z-index: 3;
    align-items: center;
    justify-content: center;
}
.ChatPage>.chatPagePannel>.chatBar>.createGpWindow>.box{
    background-color: white;
    width: 500px;
    max-height: 80%;
    display: flex;
    flex-direction: column;
    /* min-height: 350px; */
    gap: 20px;
    text-align: center;
    border-radius: 5px;
    overflow-y: hidden;
}
.ChatPage>.chatPagePannel>.chatBar>.createGpWindow>.box>i{
    margin-left: auto;
    font-size: 30px;
    color: red;
    margin-top: -1.5px;
}
.ChatPage>.chatPagePannel>.chatBar>.createGpWindow>.box>button{
    width: 100px;
    padding: 10px 0;
    font-size: 15px;
    background-color: rgb(19, 83, 148);
    color: white;
    border: none;
    border-radius: 10px;
    margin: auto 10px 10px auto;
}
.ChatPage>.chatPagePannel>.chatBar>.createGpWindow>.box>button:hover{
    background-color:  rgb(34, 144, 255);
}
.ChatPage>.chatPagePannel>.chatBar>.createGpWindow>.box>h2{
    margin: 0;
}
.ChatPage>.chatPagePannel>.chatBar>.createGpWindow>.box>input{
    font-size: 16px;
    padding:7px  5px ;
    width: 90%;
    margin: 0 auto;
    border-radius: 7px;
    outline: none;
    border: 1px solid rgb(0, 0, 0,0.3);
    
}
.ChatPage>.chatPagePannel>.chatBar>.createGpWindow>.box>.userList{
    display: flex;
    flex-direction: column;
    max-height: 300px;
    overflow-y: scroll;
    padding: 10px;
    gap: 10px;
}
.ChatPage>.chatPagePannel>.chatBar>.createGpWindow>.box>.userList>button{
    min-height: 30px;
    border: none;
    border-radius: 10px;
    background-color: rgb(230, 230, 230);
    display: flex;
    align-items: center;
    text-align: center;
    gap: 20px;
    color: rgb(0, 0, 0);
    width: 100%;
    padding: 30px 15px;
  }
.ChatPage>.chatPagePannel>.chatBar>.createGpWindow>.box>.userList>button:hover{
    background-color:rgb(56, 178, 172) ;
    color: white;
  }
.ChatPage>.chatPagePannel>.chatBar>.createGpWindow>.box>.userList>button>div{
    display: flex;
    flex-direction: column;
    gap: 4px;
    font-size: 12px;
  
  }
.ChatPage>.chatPagePannel>.chatBar>.createGpWindow>.box>.userList>button>img{
    width: 40px;
    height: 40px;
    border-radius: 40px;
  }
.ChatPage>.chatPagePannel>.chatBar>.createGpWindow>.box>.userList>button>div>p{
    margin: 0;
    font-size: 19px;
    
  }
.ChatPage>.chatPagePannel>.chatBar>.createGpWindow>.box>.userList>button>div>span{
    opacity: 1;
    width: max-content;
}
.ChatPage>.chatPagePannel>.chatBar>.createGpWindow>.box>.addedUser{
    max-height: 60px;
    min-height: 60px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 5px;
    gap: 5px;
    overflow-y: auto;
}
.ChatPage>.chatPagePannel>.chatBar>.createGpWindow>.box>.addedUser>div{
    background-color: rgb(121, 76, 208);
    display: flex;
    justify-content: center;
    color: white;
    font-size: 12px;
    align-items: center;
    gap: 5px;
    border-radius: 10px;
    padding: 5px;
    height: 28px;
}
.ChatPage>.chatPagePannel>.chatBar>.createGpWindow>.box>.addedUser>div>p{
    margin: 0;
}
