.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  padding: 0px ;
  /* padding: 1rem; */
  z-index: 2;
}

.navbar>.logo img {
    margin: auto 10px;
    margin-top: 5px;
    height: 5rem;
    width: 5.5rem;
     
}
.navbar .profile > img {
  height: 60px;
  margin-right: 10px;
  border-radius: 100px;
}

.menu-toggle {
  display: none;
}

.menu-items {
  display: flex;
  gap: 2rem;
}

.menu-items a {
  text-decoration: none;
  color: #1D005B;
  font-weight: bold;
  font-size: 1.2rem;
  margin: auto;
  text-align: center;
}

.menu-items a:hover {
  color: #A67DFD;
}
.navbar .mobileMenuBtn {
  display: none;
  cursor: pointer;
}
.navbar .mobileMenuIcon {
  position: relative;
  top: 20px;
  font-size: 2.5rem;
  translate: -20% -50%;
}
.navbar .closeMenuOutline {
  display: none;
}
.navbar .sidebar{
    display: none;
}
@media screen and (max-width: 983px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    padding: 5px;
  }
  .navbar .mobileMenuBtn {
    display: inline-block;
    z-index: 9;
  }

  .navbar .menu-items {
    width: 40vw;
    height: 70vh;
    z-index: 1;
    overflow-y: auto;
    position: absolute;
    top: 8rem;
    right: -50px;
    padding-right: 60px;
    padding-bottom: 150px;
    flex-direction: column;
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s linear;
    justify-content: spa;
    gap: 25px;
    display: none;
  }
  .navbar .profile {
    position: absolute;
    right: 15vw;
    top: 3rem;
    display: none;
  }
  .showMobileNav .profile{
    display: block;
  }
  .showMobileNav .mobileMenuIcon {
    display: none;
  }

  .showMobileNav .closeMenuOutline {
    display: inline-block;
    color: white;
    border: 2px solid white;
     
    top: 30px;
    border-radius: 20px;
  }
  .showMobileNav .sidebar {
    width: 40vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    width: 40vw;
    position: fixed;
    right: 0;
    top: 0;
 
    display: block;
  }

  .showMobileNav .menu-items {
    visibility: visible;
    display: flex;
    opacity: 1;
    z-index: 999;
    transform-origin: right;
    transition: all 0.2s right;
  }
  .showMobileNav .menu-items a {
    margin: 0 auto;
    width: 80%;
    border-radius: 40%;
    background-color: transparent;
    border: 1px solid;
    color: #fff;
    padding: 5px;
  }
  .showMobileNav .menu-items a:hover {
    background-color: white;
    color: #8859e6;
    border: none;
  }
}
@media screen and (max-width: 600px) {
  .navbar .menu-items {
    width: 60vw;
  }
  .showMobileNav .sidebar {
    width: 60vw;
  }
}
@media screen and (max-height: 450px) {
    .navbar .menu-items {
       height: 50vh;
    }
    
  }