@import url("https://fonts.googleapis.com/css2?family=Unbounded:wght@300&display=swap");

nav {
  display: flex;
  justify-content: space-between;
  /* mix-blend-mode: luminosity; */
  box-shadow: 0px 4px 4px rgba(168, 165, 165, 0.55);
  background-color: white;
  z-index: 1;
  position: fixed;
  max-width: 100vw;
  min-width: 100vw;
  height: 10vh;
  min-height: 6rem;
  gap: 2rem;
  
 
}
nav > img {
  width: 7rem;
  height: 90%;
}
nav > .nav_compo {
  width: 70%;
}
nav > .nav_compo > .header {
  display: flex;
  margin: auto 1rem;
  margin-left: 0px;
  gap: 1rem;
  justify-content: space-around;
  width: 100%;
  position: relative;
  top: -0.5%;
}

nav > .nav_compo > .header > h4 {
  color: #817d7d;
  font-size: 120%;
  padding: 2px 10px;
}

nav > .nav_compo > img {
  width: 60px;
  height: 60px;
  border-radius:60px;
  position: relative;
  top: 1vh;
}

.mobileMenuBtn {
  display: none;
  cursor: pointer;
}
@media only screen and (max-width: 1300px) {
  nav > .nav_compo {
    width: 80%;
  }
}
@media only screen and (max-width: 1100px) {
  nav > .nav_compo {
    width: 95%;
  }
}
.mobileMenuIcon {
  position: absolute;
  font-size: 2.5rem;
  top: 50%;
  right: 5%;
  translate: -20% -50%;
}
.closeMenuOutline {
  display: none;
}

@media only screen and (max-width: 950px) {
  nav {
    display: flex;
    justify-content: space-between;
    padding: 5px;
  }
  .menu {
    display: block;
    margin: auto 3rem;
    font-size: 40px;
  }
  .mobileMenuBtn {
    display: inline-block;
    z-index: 9999;
  }

  .active .mobileMenuIcon {
    display: none;
  }

  .active .closeMenuOutline {
    display: inline-block;
    color: white;
    border: 2px solid white;
    position: absolute;
    top: 30px;
    border-radius: 20px;
  }
  .active .nav_compo {
    visibility: visible;
    opacity: 1;
    z-index: 999;
    transform-origin: right;
    transition: all 0.2s linear;
  }
  nav > .nav_compo {
    width: 60vw;
    height: 100vh;
    position: absolute;
    padding-top: 3rem;
    top: 0;
    right: -50px;
    padding-right: 60px;
    background-color: rgba(0, 0, 0, 0.5);
    flex-direction: column;
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s linear;
    justify-content: start;
    gap: 0rem;
  }
  nav > .nav_compo > .header {
    flex-direction: column;
    gap: 3rem;
    margin-top: 8rem;
  }
  nav > .nav_compo > .header > h4 {
    text-align: center;
    margin: 0rem auto;
    padding: 1rem;
    background-color: rgb(0, 0, 0.5);
    width: 80%;
    border-radius: 50px;
  }
  nav > .nav_compo > .header > h4:hover {
    background-color: transparent;
    border: 2px solid rgb(0, 0, 0.5);
    color: white;
  }
  nav > .nav_compo > .header > h4:focus,
  nav > .nav_compo > .header > h4:active {
    background-color: transparent;
  }
  nav > .nav_compo > img {
    position: absolute;
    right: 40%;
  }
}
