.chatingPage {
  background: rgb(228, 230, 233);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
 
}
.chatingPage > header {
  width: 100%;
  height: 8rem;
  background-color: white;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  border-left:0.5px solid #dfdfdf;
}
.chatingPage > header > .about {
  margin: auto 0;
  display: flex;
  gap: 2rem;
}
.chatingPage > header > .about > img {
  width: 60px;
  height: 60px;
  border-radius: 60px;
  margin-top: 10px;
  background-color: rgb(186, 186, 186);
  margin-left: 1rem;
}
.chatingPage > header > .about > div {
  display: flex;
  flex-direction: column;
  gap: 1px;
  height: fit-content;
  margin: auto 0;
}
.chatingPage > header > .about > div > h6,
.chatingPage > header > .about > div > p {
  height: fit-content;
  padding: 0px;
  margin: 0px;
}
.chatingPage > header > .about > div > h6 {
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  font-weight: 600;
}
.chatingPage > header > p {
  margin: auto 0;
  margin-right: 1rem;
  font-size: 30px;
  color: #6c34e0;
}
.chatingPage >.chats {
  height: 100%;
  height: 25rem;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: flex-start; */
}

.chatingPage >.chats > p:nth-child(odd){
  align-self: flex-end;
}
.chatingPage >.chats:last-child{
  scroll-margin: 100%;
}

.chatingPage >.chats >p{
  min-width: 50px;
  max-width: max-content;
  padding: 5px 10px;
  background-color: white;
  border-radius: 50px;
  position: relative;
  left: 30px;
}
.chatingPage >.chats >.yourMessage{
  float: inline-end;
  background-color: #6c34e0;
  color: white;
  left: -30px;
}
.chatingPage > footer {
  width: 100%;
  height: 6rem;
  background-color: white;
  display: flex;
  justify-content: space-between;
}
.chatingPage > footer>img{
    height: 35px;
    margin: auto 2rem;
}
.chatingPage > footer>.messageinput{
    width: 100%;
    height: 35px;
    margin: auto 0;
    display: flex;
    padding: 5px 20px;
    border: 5px solid rgba(164, 163, 163, 0.1);
    border-radius: 50px;
}
.chatingPage > footer>.messageinput>input{
    width: 100%;
    border: none;
    margin: auto 0;
    font-size: 20px;
}
.chatingPage > footer>.messageinput>input:focus {
    outline: none;
  }