@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Unbounded:wght@300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');
.services {
  position: relative;
  top: 7rem;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  flex-grow: 1;
  font-family: "Lexend";
    font-style: normal;
  
}
.services > .apps_out {
  background: #1D005B;
  box-shadow: 2px 2px 6px rgba(32, 0, 240, 0.606);
  border-radius: 41px;
  width: 90%;
  position: relative;
  top: 3rem;
  margin: 0 AUTO;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 2rem;
 
}
.services > .apps_out > h2 {
  font-family: "Tourney", cursive;
  /* font-family: 'Pacifico', cursive; */
  font-weight: 400;
  font-size: 40px;
  letter-spacing: 5px;
  margin: 0px;
  word-spacing: 10px;
  color: #ffffff;
}
.services > .apps_out > .apps {
  display: flex;
  gap: 1rem 4em;
  flex-wrap: wrap;
  justify-content: center;
  font-family: "Pacifico", cursive;
}
.services > .apps_out > .apps > div:hover {
  transform: scale(1.2);
  animation: btnAnimation 3s;
}
.services > .apps_out > .apps > div >p{
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 600;
  letter-spacing: 2px;
  color: #ffffff;
}
.services > .apps_out > .apps > div{
  padding: 10px;
}
.services > .apps_out > .apps > div > div {
  background: #1D005B;
  border-radius: 500px;
  padding: 10px;
  height: 60px;
  width: 60px;
  margin: auto;
  border: 1px solid #A67DFD;
  /* padding: 15px; */
}
.services > .apps_out > .apps > div > div > img {
  height: 60px;
}
.cards_services {
  justify-content: space-around;
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
}
.cards_services > div {
  background: #ffffff;
  box-shadow: 5px 5px 5px rgba(62, 0, 133, 0.29);
  border-radius: 50px;
  position: relative;
  top: 3rem;
  padding: 10px;
  width: 300px;
}
.cards_services > div:hover {
  transform: scale(1.2);
  animation: btnAnimation 3s;

  animation-fill-mode: both;
}

.cards_services > div > img {
  border-radius: 50px;
}
.cards_services > div > h4 {
  text-align: center;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  color: #1D005B;
}
@media only screen and (max-width: 900px) {
  .services > .apps_out > .apps {
    justify-content: center;
  }
}
