@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@300&display=swap');
.homeNav{
    display: flex;
    justify-content: space-between;
    /* mix-blend-mode: luminosity; */
    box-shadow: 0px 4px 4px rgba(168, 165, 165, 0.55);
    background-color: white;
    z-index: 1;
    position: fixed;
    max-width: 100vw;
    min-width: 100vw;
    max-height: 100px;
    gap: 2rem;
  
}
.homeNav >img{
    
    margin: auto 10px;
    height: 5rem;
    width: 5.5rem;
}
.homeNav > .nav_compo{
    display: flex;
    margin: auto 1rem;
    margin-left: 0px;
    gap: 1rem;  
    justify-content: space-around;
    width: 70%;
}
.homeNav > .nav_compo >.search{
    display: flex;
    gap: 5px;
    background: #FFFEFE;
    border: 2px solid #817D7D;
    border-radius: 10px;
    padding: 5px 10px;
    margin: auto;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}


.homeNav > .nav_compo >.search>img{
    height: 30px;
}
.homeNav > .nav_compo >.search>input{
    border: none;
    font-size: 20px;
    margin: auto;
}
.homeNav > .nav_compo >.search>input:focus{
    outline: none;
}

 
.homeNav >.nav_compo>.help_setting{
    display: flex;
    width: 20%;
    justify-content: space-between;
    text-align: center;
    margin: auto;
    margin-top: 13px;
}
.homeNav >.nav_compo>.help_setting>div{
    display: flex;
    flex-direction: column;
}
 
.homeNav >.nav_compo>.help_setting>div>img{
    height: 40px;
    width: 40px;
}
.homeNav >.nav_compo>.help_setting>div>span{
    font-weight: 500;
}


.homeNav > .nav_compo>.btn>button{
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 20px;
    margin: auto;
    color: black;
    border:2px solid #000000;
    min-width: fit-content;
    background-color: transparent;
    margin:20px 0;
    
}
 
.homeNav > .nav_compo>.btn>button:hover{
    background-color: black;
    color: white;
}
 


 
 
.homeNav .mobileMenuBtn{
    display: none;
    cursor: pointer;
}
@media only screen and (max-width: 1300px) {
    .homeNav > .nav_compo{
        width: 80%;
    }
}
@media only screen and (max-width: 1100px) {
    .homeNav > .nav_compo{
        width: 90%;
    }
}
.homeNav .mobileMenuIcon{
    position: absolute;
    font-size: 2.5rem;
    top: 50%;
    right: 5%;
    translate: -20% -50%;
}
.homeNav .closeMenuOutline{
     
    display: none;
} 

@media only screen and (max-width: 950px) {
    .homeNav{
        display: flex;
        justify-content: space-between;
        padding: 5px;
    }
    .homeNav>.nav_compo{
        max-width: 53vw;
        height: 100vh;
        position: absolute;
        padding-top: 5rem;
        top: 0;
        right: -50px;
        padding-right: 50px;
        background-color:  rgba(0,0,0,.5); 
        flex-direction: column;
        visibility: hidden;
        opacity: 0;
        transition: all 0.2s linear;
    } 

     .homeNav > .nav_compo >a > button{
        color: white;
     }
     .homeNav .menu{
        display: block;
        margin: auto 3rem;
        
        font-size: 40px;
     }
     .homeNav .mobileMenuBtn{
        display: inline-block;
        z-index: 9999;
    }

    .active .mobileMenuIcon{
        display: none;
    }

    .active .closeMenuOutline{
        display: inline-block;
        color: white;
        border: 2px solid white;
        position: absolute;
        top: 30px;
        border-radius: 20px;
    }
    .active .nav_compo{
        visibility: visible;
        opacity: 1;
        z-index: 999;
        transform-origin: right;
        transition: all 0.2s linear;
    }
    
    .homeNav>.nav_compo>.search, .homeNav>.nav_compo>.help_setting, .homeNav>.nav_compo>.login, .homeNav>.nav_compo>.signin{
        margin: 3rem auto;
    }
    .homeNav>.nav_compo>.help_setting{
        width: 100%;
        justify-content: space-around;
    }
    .homeNav>.nav_compo>.help_setting>div{
        background-color: white;
        border-radius: 10px;
        padding: 5px 15px;
    }
    .homeNav>.nav_compo>.help_setting>div>img{
        margin: auto;
    }
    .homeNav > .nav_compo>button{
        background-color: black;
        color: white;
        width: 70%;
        margin: 0px auto;
    }
    .homeNav > .nav_compo>.signin{
       
        color: white;
    }
    .homeNav > .nav_compo>.btn>button{
        color: rgb(255, 255, 255);
        border:3px solid #ffffff;
    }
    .homeNav > .nav_compo>.btn>button:hover{
        background-color:#ffffff;
        color: rgb(0, 0, 0);

    }
    
  }
  